//Barvy
$primary-color: #1FC287;
$secondary-color: #0447D6;
$ternary-color: #0447D6;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: rgb(12, 5, 5);

//Text-Velikost
$primary-text: 32px;
$secondary-text: 24px;
$ternary-text: 16px;
$mini-text: 8px;

